{
	"endOfLine": "crlf",
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"vueIndentScriptAndStyle": true
}
